body{
    color:#ebe6e7 ;
    background:rgb(233, 29, 29) ;
}

header{
    border-bottom: solid 2px rgb(24, 168, 204);
    padding: 20px;
    font-size: 32px;
    color: aquamarine;
}

.chamada{
    background: rgb(255, 136, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}

.categoria-videos{
    display; flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;    
}                      
