body{
    color:#ebe6e7 ;
    background:rgb(233, 29, 29) ;
    margin: 0px;
    font-family: "Dosis", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(24, 168, 204);
    padding: 20px;
    font-size: 32px;
    color: aquamarine;
}

.chamada{
    background: rgb(255, 136, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px:
}

.categoria-videos{
    display; flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;    
}                      
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
    margin-top: 50px;
}          
.categoria-videos img:hover{
    opacity: 0.5;
    height: 200px;
}